@tailwind base;
@tailwind components;
@tailwind utilities;

.Navbar__logo {
    align-self: flex-start;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    text-shadow: 0px 0px 0px #00000033, 4px 4px 0px #00ffff33, -4px -4px 1px #ff000033;
    transition: text-shadow 250ms ease-in-out;
}
.Navbar__logo:hover {
    text-shadow: 1px 1px 1px #000000dd, -4px -4px 1px #00ffff, 4px 4px 1px #ff0000;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}
.Navbar__logo em {
    font-weight: bold;
}
