<button data-action="player#toggle" class="flex justify-center items-center position w-[2.5rem] h-[2.5rem] bg-slate-200/75 rounded-100 rounded-full">
    <div class="hidden" data-player-target="play" data-radio-target="play">
        <twig:UX:Icon name="pause" class="text-slate-50" style="color: black; opacity: .9; fill: none"/>
    </div>
    <div class="pause" data-player-target="pause" data-radio-target="pause">
        <twig:UX:Icon name="play" class="text-slate-50" style="color: black; opacity: .9; fill: none"/>
    </div>
</button>